body{
        margin:0;
        padding: 0;
        font-family: 'Indie Flower', cursive;
        /*font-family: 'Lato', sans-serif;*/
        font-size:20px;
}


#page1{
        width: 100%;
        position: fixed;
        background-color: green;
        margin: 0;
        padding: 0;
        height: 100%;
        z-index: 10;
        text-align:center;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("background.jpg");
        -o-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        -moz-background-size:100% 100%;
        background-size:100% 100%;
        background-repeat: no-repeat;
        top:0;
        overflow: scroll;
}

.animal {
        text-align:center;
}

#next {
        position:fixed;
        top:75%;
        text-decoration: none;
        left:46%;
        font-size:2em;
}

#favcolor {
        position:relative;
        top:20%;
        font-size:2.5em;
        margin:0;
}

#fav {
        width:300px;
        height:200px;
        position:relative;
        top:-50px;
}

#fav:hover {
        -webkit-filter: grayscale(100%);
}

#page2{
        width: 100%;
        position: fixed;
        top:100px;
        background-color: blue;
        margin: 0;
        padding: 0;
        height: 100%;
        z-index: 9;
        text-align:center;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("saddog.jpg");
        -o-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        -moz-background-size:100% 100%;
        background-size:100% 100%;
        height:100%;
        background-repeat: no-repeat;
        top:0;
        overflow: scroll;

}


#page3{
        width: 100%;

        background-color: red;
        margin: 0;
        padding: 0;
        height: 100%;
        position: fixed;
        z-index: 8;
        top:0;
        overflow: scroll;

}

#one {
        text-align:center;
        position:relative;

}

.formone{
        width:30%;
        height:30px;
        text-decoration:none;
        opacity:.7;
        font-size:20px;
        text-align:center;
}

.formone:focus {
        opacity:1;
        outline:none;
}


.formtwo {
        position:absolute;
        top:200px;
}

.formtwo:focus {
        opacity:1;
        outline:none;
}

#page4{
        width: 100%;
        background-color: yellow;
        margin: 0;
        padding: 0;
        height: 100%;
        position: fixed;
        z-index: 7;
        top:0;
        overflow: scroll;

}


#page5{
        width: 100%;
        background-color: yellow;
        margin: 0;
        padding: 0;
        height: 100%;
        position: fixed;
        padding-top:2%;
        z-index: 6;
        top:0;
        overflow: scroll;
}

.animalpic{
        border-radius:100%;
}

#page5 h1{
        margin: 0;
        padding:0;
        display: inline;
}
#page5 img{
        max-width: 200px;
        max-height: 200px;
}
#page1 a{
        text-align:center;
        position:fixed;
        top:90%;
}

@media (max-width: 750px) {
  .animalpic {
    display: none;
  }

  #page5 {
        font-size:15px;
  }

  #formone {
        font-size:15px;
  }

  input[placeholder] {
   font-weight: bold;
   border-color: blue;
   font-size:10px;
        }

        #fav {
        width:200px;
        height:100px;
        position:relative;
        top:-50px;
        }

        .formone{
                width:30%;
                height:30px;
                text-decoration:none;
                opacity:.7;
                font-size:10px;
                text-align:center;
        }
        #next {
        position:fixed;
        top:75%;
        text-decoration: none;
        left:40%;
        font-size:2em;
}
}
