body{
	margin:0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size:20px;
}


#page1{
	width: 100%;
	position: fixed;
	background-color: green;
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: 10;
	text-align:center;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("background.jpg");
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat: no-repeat;
}


#page2{
	width: 100%;
	position: fixed;
	background-color: blue;
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	z-index: 9;
	text-align:center;
		background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("saddog.jpg");
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	height:100%;
	background-repeat: no-repeat;

}


#page3{
	width: 100%;
	position: fixed;
	background-color: red;
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	z-index: 8;

}

#one {
	text-align:center;
	position:relative;
	top:10%;

}

.formone{
	border-radius: 25px;
	width:20%;
	height:10%;
	text-decoration:none;
}

#page4{
	width: 100%;
	position: fixed;
	background-color: yellow;
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	z-index: 7;

}


#page5{
	width: 100%;
	position: fixed;
	background-color: grey;
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	z-index: 6;

}
#page5 img{
	max-width: 400px;
	max-height: 400px;
}

#page1 a{
	text-align:center;
	position:absolute;
	top:90%;
}